*{
          margin: 0;
          padding: 0;}

.grid{
          box-sizing: border-box;
          padding: 15px;
}

 .grid::after {
                    content: '';
                    display: block;
                    clear: both;
 }          

.grid .col {
          width: 33.33%;
          height: 300px;
           /*display: block-inline /block/inline*/
          float: left;
          box-sizing: border-box;
          padding: 15px;
}
.grid .col-content {
          width: 100%;
          height: 100%;
          background: red; /* ABCDEF123456789 - RGBA(QUANDO DEIXA VER O CONTEUDO DE TRAS)*/

}
