*{
          margin: 0;
          padding: 0;}

 body { 
         
         font-family: sans-serif;
         background-image: url(https://i0.wp.com/diventare.com.br/wp-content/uploads/2019/01/background-site-antigo.jpg)
        
 } 
 .menu {
         display: block;
         text-align: center;

 }
  
          h1{
          color: rgb(240, 206, 15);     
          font-size: 70px;
          padding: 50px;          
          background-position: center;
          font-style: italic;
          text-align: center;
          
          
          
          
          
  }   
  p {
          background: 100vw;
          color: rgb(255, 174, 0);
          font-size: 30px;
          text-align: center;
          font-style: bold;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-stretch: 22px;
          padding: 30px;
          
  }    
  img {
          border-radius: 100px;
          margin-top: 70px;
  } 

  .contatos {
          color: rgb(47, 0, 255);
          box-sizing: border-box;
          margin-top: 70px;
          font-size: 40px;

  }



 