*{
        margin: 0;

}

.pai {
        height: 300vh;

}

.filha1, .filha2, .filha3{
        width: 300px;
        height: 300px;
        background: rgba(255, 0, 0, 0.432);
        margin: 10px;
        position: static;
        
}

.filha1 {
}
/*.filha2 {
        background: greenyellow;
}*/

.filha2 {
        background: forestgreen;
        position: fixed;
        top: 30%;
        right: 0;
        z-index: 1;
}
.filha3 {
        background: blue;
        position: relative;
        top: 100px;
        left: 100px;
}
.outra {
        font-size: 50px;
        background: white;
        position: absolute;
        right: 0px;
        bottom: 0;
}

ul {
        height: 100px;
        overflow-y: auto;
}
ul li.sticky {
        position: sticky;
        background: gray;
        top: 0;
}



