*{
          margin: 0;
          padding: 0;}



ul li::after{
          content: '  - ';
          background: red;
          color:  #fff;
          display: block;

}
p {
          font-size: 10px;
}
p::first-letter {
          font-size: 50px;
          display:block
          float: left
          margin 0 10px 10px 0;}

          p::first-line {
                    background: red;
          }

          p::selection {
                    background:  black;
                    color: white;
          }

          ::placeholder {
                    color: red;
          }