*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }

body {
        font-family: sans-serif;

}
.menu {
        width: 100%;
        position: fixed;
        background: black;
}


.menu ul {
              
        list-style: none;
        display: block;
        max-width: 1200px;
        padding: 0 30px;
        margin: 0 auto

}

.menu ul li {
        float: left;      
       
}

.menu ul li a {
        display: block;   
        color: #fff;
        padding: 20px;   
        text-decoration: none;
        transition: all 300ms ease-in-out;
       
}

.menu ul li a:hover {
        background: #333;
       
}

.grid {
        max-width: 1200px;
        padding: 15px;
        margin: 0 auto;
        padding-top: 73px;
}

.grid:after {
        content: '';
        display: block;
        clear: both;
}

.grid .col {
       height: 300px;
       float: left;
       padding: 15px;
       width: 33.33%;
}

.grid .col-content {

        width: 100%;
        height: 100%;
        background: red;
        /* border-radius: 50%; */
        box-shadow: 0 0 5px 5px blue; 
        /* inset joga a sombra pra dentro do elemento */
                
}

.full-page {
        max-width: 1200px;
        padding: 15px;
        margin: 0 auto;
        padding-top: 73px;

}

/* DIGAMOS QUE TENHA O SEGUINTE CSS
.GRID {
        WIDTH:100%
        HEIGHT: 100%

} 
APLICANDO A MEDIA QUERIES FICARIA SOBREPONDO O CSS ACIMA
EX:
@MEDIA (MAX-WIDTH :728 PX) AND(MIN-WIDTH :320PX )
 .GRID {
         WIDTH:100%
        }
*/


/* flex container */

flex-container {
        background: yellow;

}

flex-item {



}